# SPDX-FileCopyrightText: 2023 Ross Patterson <me@rpatterson.net>
#
# SPDX-License-Identifier: MIT

# Backup files
*~
**/*~

# C extensions
*.so
**/.so

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
env/
build/
downloads/
lib/
lib64/
dist
sdist/
var/
/var-*
/node_modules
/package-lock.json
/README.md
*.egg-info/

# Translations
*.mo
**/.mo
*.pot
**/.pot

# Sphinx documentation
docs/_build/

# dotenv
/.env

# Linters:
.tox
.mypy_cache

# Exclude downloaded styles from formatting and linting but include in VCS:
/styles/*/*

# Emacs editor settings
/.dir-locals.el

# `${HOME}/**` artifacts:
**/.*_history
**/.*hst
**/.*hsts
**/.cache
**/.local

# Explicit ignores for the Docker build context.
.local
**/.local
.gnupg
**/.gnupg
