# Backup files
*~
*.rej

# Distribution / packaging
env/
build/
var/
/README.md

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# dotenv
.env

# Emacs editor settings
/.dir-locals.el
