# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Docker.gitlab-ci.yml

# TEMPLATE: If using GitHub Actions, then add the following secrets to the project:
# - `CODECOV_TOKEN`:
#   Add your project to https://app.codecov.io/gl and use the generated token
# - `DOCKER_PASS`:
#   A Docker Hub Personal Access Token
# - `GPG_PASSPHRASE`:
#   See the comments towards the bottom of the `./Makefile`
# - `GPG_SIGNING_PRIVATE_KEY`:
#   See the comments towards the bottom of the `./Makefile`
# - `PROJECT_GITHUB_PAT`:
#   A GitHub "Classic" Personal Access Token with scopes: `repo`, `workflow`,
#   `packages`, and `project`. If using both GitLab CI/CD for releases and GitHub
#   Actions as duplicate CI for tests, then configure repository mirroring in your
#   GitLab project -> Settings -> Repository using the same token.
# - `PYPI_PASSWORD`:
#   A PyPI API token
# - `TEST_PYPI_PASSWORD`:
#   A PyPI API token
# - `VCS_REMOTE_PUSH_URL`:
#   A GitLab Personal or Project Access Token formatted as an HTTP authentication prefix
#   to the hostname, e.g.:
#     https://token-name:token-value@gitlab.com/rpatterson/python-project-structure.git

default:
  image:
    name: "$CI_TEMPLATE_REGISTRY_HOST/rpatterson/$CI_PROJECT_NAME:build-host"
    entrypoint:
      - "docker-entrypoint.sh"
  services:
    - "docker:dind"
  before_script:
    - "chown -R $PUID:$PGID ./"
  # TODO: Debug stale venv issues and restore cache once fixed

variables:
  # Variables controlling behavior:
  PUID: "1001"
  PGID: "1001"
  DOCKER_IMAGE: "$CI_REGISTRY_IMAGE"
  # Different variable name needed by the GitHub CLI:
  GH_TOKEN: "$PROJECT_GITHUB_PAT"
  # Uncomment to get more debugging output:
  # DEBUG: "true"

stages:
  - "build-test"
  - "release"
  - "scheduled"

build-test:
  stage: "build-test"
  rules:
    - if: >-
        ($CI_COMMIT_TAG == null || $CI_COMMIT_TAG == "")
        && $CI_PIPELINE_SOURCE != "schedule"
        && (
          $CI_COMMIT_MESSAGE !~ /(?ims).*\[actions skip\].*/
          || $CI_COMMIT_BRANCH == "master"
        )
  interruptible: true
  parallel:
    matrix:
      - PYTHON_MINORS:
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
          - "3.7"
  script:
    # Delegate steps agnostic of the CI/CD platform to the `./Makefile`:
    - >-
      entrypoint make -e test-push
      build-docker-$PYTHON_MINORS
      test-docker-$PYTHON_MINORS
      release-docker-$PYTHON_MINORS test-clean
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    # Upload build artifacts:
    # https://docs.gitlab.com/ee/ci/pipelines/job_artifacts.html
    paths:
      - "./build/py*/pytest*"
      - "./build/py*/.coverage*"
      - "./build/py*/coverage*"
      - "./build/py*/htmlcov"
      - "./build/py*/prospector*"
      - "./build/py*/pylint*"
    reports:
      junit:
        - "./build/py*/pytest-junit.xml"
        - "./build/py*/prospector-xunit.xml"
      coverage_report:
        coverage_format: "cobertura"
        path: "./build/py*/coverage.xml"

release:
  stage: "release"
  needs: ["build-test"]
  # Avoid unnecessary artifact downloads:
  # https://docs.gitlab.com/ee/ci/yaml/#dependencies
  dependencies: []
  variables:
    DOCKER_BUILD_PULL: "true"
  rules:
    - if: >-
        ($CI_COMMIT_TAG == null || $CI_COMMIT_TAG == "")
        && $CI_PROJECT_NAMESPACE == "rpatterson"
        && $CI_COMMIT_BRANCH != null
        && $CI_COMMIT_BRANCH =~ "^(develop|master)$"
        && $CI_PIPELINE_SOURCE != "schedule"
        && (
          $CI_COMMIT_MESSAGE !~ /(?ims).*\[actions skip\].*/
          || $CI_COMMIT_BRANCH == "master"
        )
  script:
    - >-
      entrypoint make -e release-python test-clean
  artifacts:
    paths:
      - "./NEWS-release.rst"
      - "./dist/python?project?structure-*"

# TEMPLATE: Optionally add a scheduled pipeline with the following variables to
# periodically upgrade all requirements and run CI:
# - `DOCKER_BUILD_PULL=true`
# - `SCHEDULED_TARGETS=devel-upgrade-branch`
# - `TEMPLATE_IGNORE_EXISTING=true`
# WARNING: Running this even just daily can easily exhaust the gitlab.org free quotas.

scheduled:
  stage: "scheduled"
  rules:
    - if: >-
        $CI_PIPELINE_SOURCE == "schedule"
  script:
    - >-
      entrypoint make -e $SCHEDULED_TARGETS
