# SPDX-FileCopyrightText: 2023 Ross Patterson <me@rpatterson.net>
#
# SPDX-License-Identifier: MIT

# Backup files
*~
**/*~

# C extensions
*.so
**/.so

# Distribution / packaging
env/
build/
downloads/
lib/
lib64/
sdist/
/var
/var-docker
/node_modules
/package-lock.json
/README.md

# Translations
*.mo
**/.mo
*.pot
**/.pot

# Sphinx documentation
docs/_build/

# dotenv
/.env

# Linters
.tox
.mypy_cache
# Ignore downloaded styles:
/styles/Vale
/styles/Microsoft
/styles/Google
/styles/RedHat
/styles/proselint
/styles/write-good
/styles/alex
/styles/Readability
/styles/Joblint


# Emacs editor settings
/.dir-locals.el

# Explicit ignores for the Docker build context.
.local
**/.local
.gnupg
**/.gnupg

# GitLab dedicated project runner artifacts:
/gitlab-runner/config/config.toml
/gitlab-runner/config/.runner_system_id
