# Override `$ docker compose ...` configuration for development or testing here in this
# repo checkout.  Everything that may be used outside this checkout should be in
# `./docker-compose.yml`.
version: "3.8"

services:

  ## Configuration specific to this checkout
  python-project-structure:
    volumes:
      # Preserve caches caches between container runs
      - "./home/:/home/python-project-structure/"

  ## Container for use by developers
  python-project-structure-devel:
    image: "merpatterson/python-project-structure-devel"
    depends_on:
      - "python-project-structure"
    build:
      context: "./"
      dockerfile: "./Dockerfile.devel"
    environment:
      # Make the run-time user configurable in `./.env`
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-${PUID:-1000}}"
    volumes:
      # Ensure local changes are reflected inside the container.
      - "./:/usr/local/src/python-project-structure/"
      # Preserve caches caches between container runs
      - "./home/:/home/python-project-structure/"
      # Ensure access permissions to build artifacts inside docker.
      # If created by `# dockerd`, it ends up owned by `root`.
      - "./var-docker/:/usr/local/src/python-project-structure/var/"
      - "./.tox-docker/:/usr/local/src/python-project-structure/.tox/"
      - "./src/python_project_structure-docker.egg-info/:/usr/local/src/python-project-structure/src/python_project_structure.egg-info/"

  ## Contianers used during release

  pandoc:
    image: "pandoc/core"
    user: "${PUID:-1000}:${PGID:-${PUID:-1000}}"
    volumes:
      - "./:/data/"
    command: >-
      "./README.rst" -f "rst" -t "markdown" -o "./README.md"

  docker-pushrm:
    image: "chko/docker-pushrm"
    depends_on:
      - "pandoc"
    environment:
      DOCKER_USER: "${DOCKER_USER:-merpatterson}"
      DOCKER_PASS: "${DOCKER_PASS}"
    volumes:
      - "./:/data/"
    command: >-
      --file "/data/README.md" --short "Python project structure foundation or template"
      --debug "merpatterson/python-project-structure"
