# Override `$ docker compose ...` configuration for development or testing here in this
# repo checkout.  Everything that may be used outside this checkout should be in
# `./docker-compose.yml`.
version: "3.8"

services:

  transmission:
    container_name: "prunerr-devel-transmission"
    volumes:
      # Exit the container if the core `s6-overlay` service fails
      - "./s6/etc/services.d/default/finish:/etc/services.d/transmission/finish"

  sonarr:
    container_name: "prunerr-devel-sonarr"
  radarr:
    container_name: "prunerr-devel-radarr"

  # Configuration specific to development:
  prunerr-daemon:
    image: "\
      registry.gitlab.com/rpatterson/prunerr\
      :${PYTHON_ENV:-py310}-${DOCKER_BRANCH_TAG:-develop}"
    container_name: "prunerr-daemon-checkout"
    build:
      context: "${CHECKOUT_DIR}/"
      args:
        PYTHON_MINOR: "${PYTHON_MINOR:-3.10}"
        PYTHON_ENV: "${PYTHON_ENV:-py310}"
        VERSION: "${VERSION:-}"
    volumes:
      # Preserve caches caches between container runs
      - "${CHECKOUT_DIR}/home/:/home/prunerr/"

  ## Contianers used for development and release:

  # Container for use by developers:
  prunerr-devel:
    image: "\
      registry.gitlab.com/rpatterson/prunerr\
      :devel-${PYTHON_ENV:-py310}-${DOCKER_BRANCH_TAG:-develop}"
    container_name: "prunerr-devel"
    profiles:
      - "test"
    build:
      context: "${CHECKOUT_DIR}/"
      dockerfile: "${CHECKOUT_DIR}/Dockerfile.devel"
      args:
        PYTHON_MINOR: "${PYTHON_MINOR:-3.10}"
        PYTHON_ENV: "${PYTHON_ENV:-py310}"
        VERSION: "${VERSION:-}"
    environment:
      TZ: "${TZ:-Etc/UTC}"
      # Make the run-time user configurable in `./.env`
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-${PUID:-1000}}"
      # Variables from the environment we want to be passed through into the container:
      CI: "${CI:-false}"
      # DEBUG: "true"
    volumes:
      # Ensure local changes are reflected inside the container.
      - "${CHECKOUT_DIR}/bin/entrypoint:/usr/local/bin/entrypoint"
      - "${CHECKOUT_DIR}/:/usr/local/src/prunerr/"
      # Preserve caches caches between container runs
      - "${CHECKOUT_DIR}/home/:/home/prunerr/"
      # Avoid any clashes between image variants and/or the local host at both build and
      # run-time.
      - "${CHECKOUT_DIR}/var/docker/${PYTHON_ENV:-py310}/:/usr/local/src/prunerr/var/"
      - "${CHECKOUT_DIR}/var/docker/${PYTHON_ENV:-py310}/.tox/:/usr/local/src/prunerr/.tox/"
      - "${CHECKOUT_DIR}/var/docker/${PYTHON_ENV:-py310}/prunerr.egg-info/:/usr/local/src/prunerr/src/prunerr.egg-info/"

  # https://github.com/hadolint/hadolint#how-to-use
  hadolint:
    image: "ghcr.io/hadolint/hadolint"
    profiles:
      - "test"
    environment:
      TZ: "${TZ:-Etc/UTC}"
    volumes:
      - "${CHECKOUT_DIR}/:/usr/local/src/prunerr/"
    working_dir: "/usr/local/src/prunerr/"
    command: >-
      hadolint "./Dockerfile"

  pandoc:
    image: "pandoc/core"
    profiles:
      - "release"
    user: "${PUID:-1000}:${PGID:-${PUID:-1000}}"
    environment:
      TZ: "${TZ:-Etc/UTC}"
    volumes:
      - "${CHECKOUT_DIR}/:/data/"
    command: >-
      "./README.rst" -f "rst" -t "markdown" -o "./README.md"

  docker-pushrm:
    image: "chko/docker-pushrm"
    depends_on:
      pandoc:
        condition: "service_completed_successfully"
    profiles:
      - "release"
    environment:
      TZ: "${TZ:-Etc/UTC}"
      DOCKER_USER: "${DOCKER_USER:-merpatterson}"
      DOCKER_PASS: "${DOCKER_PASS}"
    volumes:
      - "${CHECKOUT_DIR}/:/data/"
    command: >-
      --file "/data/README.md" --short "prunerr foundation or template"
      --debug "merpatterson/prunerr"

  gitlab-release-cli:
    image: "registry.gitlab.com/gitlab-org/release-cli:latest"
    profiles:
      - "release"
    environment:
      CI_JOB_TOKEN: "${CI_JOB_TOKEN:-}"
    volumes:
      - "./:/usr/local/src/prunerr/"
    working_dir: "/usr/local/src/prunerr/"

  ## Containers related to CI/CD:

  # The container in which CI/CD is run:
  build-host:
    image: "registry.gitlab.com/rpatterson/prunerr:build-host"
    profiles:
      - "ci"
    build: "${CHECKOUT_DIR}/build-host/"
    privileged: true
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "${CHECKOUT_DIR}/:${CHECKOUT_DIR}"
      - "${CHECKOUT_DIR}/build-host/bin/entrypoint:/usr/local/bin/entrypoint"
      # Share local SSH authentication to repository remotes
      - "~/.ssh/:/home/runner/.ssh/"
    env_file: "./.env"
    environment:
      TZ: "${TZ:-Etc/UTC}"
      PUID: "${PUID:-1000}"
      PGID: "${DOCKER_GID:-${PGID:-${PUID:-1000}}}"
      # DEBUG: "true"
    working_dir: "${CHECKOUT_DIR}"
    command: >-
      make -e build-docker test-docker release

  # Conserve shared runner minutes, run GitLab CI/CD jobs locally:
  gitlab-runner:
    image: "gitlab/gitlab-runner"
    profiles:
      - "ci"
    volumes:
      - "./var/gitlab-runner/config:/etc/gitlab-runner"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./var/gitlab-runner/cache:/cache"
      - "./var/gitlab-runner/certs:/certs"
    ports:
      - "8093:8093"
