# SPDX-FileCopyrightText: 2023 Ross Patterson <me@rpatterson.net>
#
# SPDX-License-Identifier: MIT

# Ignore everything but files managed by VCS:
/*
!.git*

# Track templates in VCS:
!/*.in

# Ensure Docker bind mounts exist and that this checkout's owner also owns them:
!/.cache
!/.config
!/.local

# Restore backup file ignores reversed by the wildcards above
*~
