# SPDX-FileCopyrightText: 2023 Ross Patterson <me@rpatterson.net>
#
# SPDX-License-Identifier: MIT

# Default to ignoring.  Only track the directories and files we specify:
/*
!.git*

# Ensure Docker bind mounts exist and that this checkout's owner also owns them:
!/.cache
!/.config
!/.local

# Restore backup file ignores reversed by the wildcards above
*~
